target/
.idea/
src/main/resources/
data/
dependency-reduced-pom.xml
core-site.xml
mapred-site.xml
spark-streaming-jcastro.iml
hdfs-site.xml
*~
*.crc
*.txt
*.properties
*.dat
*.properties
*.conf
*.csv
*.iml
